<!doctype html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="../img/icon.svg" />
        <link rel="stylesheet" href="../scss/feedback.scss" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Обратная связь</title>
    </head>
    <body>
        <header class="header">
            <section class="header_info">
                <article class="header_info_heading">
                    <h1>Блог обычного человека</h1>
                    <p>
                        Просто блог просто обычного человека. Заметки о жизни,
                        мыслях, мечтах, не ограниченные никакими рамками.
                    </p>
                </article>
            </section>
        </header>
        <main class="main">
            <section class="ideas">
                <p>Идеюшки</p>
            </section>
        </main>
        <footer class="footer">
            <div class="footer_contacts">
                <div class="footer_contacts_number">
                    <p>
                        По любым вопросам пишите или звоните по номеру телефона:
                    </p>
                    <p>8 800 555 35 35</p>
                </div>
            </div>
            <div class="footer_links">
                <div class="footer_links_all_links">
                    <p>
                        Хотите вернуться на главную?
                        <a href="./index.html" class="link">Кликайте!</a>
                    </p>
                    <p>
                        Хотите
                        <a href="./list-of-records.html" class="link"
                            >перейти ко всем записям</a
                        >?
                    </p>
                    <p>
                        Хотите перейти к последней написанной заметке?
                        <a href="./record.html" class="link">Вам сюда</a>!
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
