<!doctype html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="../img/icon.svg"/>
        <link rel="stylesheet" href="../scss/index.scss" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная</title>
    </head>
    <body>
        <header class="header">
            <section class="header_info">
                <article class="header_info_heading">
                    <h1>Блог обычного человека</h1>
                    <p>
                        Просто блог просто обычного человека. Заметки о жизни,
                        мыслях, мечтах, не ограниченные никакими рамками.
                    </p>
                </article>
            </section>
        </header>
        <main class="main">
            <section class="to-list-of-records">
                <article class="fragment">
                    <p>어두울수록 빛은 더욱 밝게 빛나는 법</p>
                    <br />
                    <p>
                        앞이 보이지 않는 캄캄한 어둠 속에 쭈그려 앉아 울고
                        있기보다 고개를 들어 주위를 둘러보자
                    </p>
                    <br />
                    <p>
                        분명 나를 향해 비추는 빛이 있을 것이고 사실 그 빛이 거울
                        속에 비친 나라는 사실을 깨달았을 때 우린 별이 될 것이다
                    </p>
                </article>
                <article class="link-to-records">
                    <p>
                        <strong
                            >Если вас интересует последняя написанная мной
                            заметка, то
                            <a href="./record.html" class="main-link"
                                >вам сюда</a
                            >!</strong
                        >
                    </p>
                    <p>
                        <strong
                            >А
                            <a href="./list-of-records.html" class="main-link"
                                >тут вы найдете</a
                            >
                            список всех моих заметок.</strong
                        >
                    </p>
                </article>
            </section>
        </main>
        <footer class="footer">
            <div class="foot">
                <div class="foot-number">
                    <p>
                        По любым вопросам пишите или звоните по номеру телефона:
                    </p>
                    <p>8 800 555 35 35</p>
                </div>
            </div>
            <div class="to-feedback">
                <div class="to-feedback-link">
                    <p>Есть комментарии, идеи, предложения? Напишите их!</p>
                    <p>
                        Переходите
                        <a href="./feedback.html" class="footer-link"
                            >по этой ссылке</a
                        >
                        на страницу ваших предложений и отзывов.
                    </p>
                </div>
            </div>
        </footer>
        <script src="../main.js"></script>
    </body>
</html>
