@import 'for-all-scss/for-all';

header {
    background-color: blue($color: #000000);
}

main {
    background-image: url(../img/ListOfRec-back.jpg);
    height: 122vh;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-link {
    color: black;
}

.list-of-records {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.record {
    background-color: #fff;
    height: 350px;
    width: 350px;
    margin: 60px;
    border-radius: 10%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 1em white;
}

footer {
    background-color: black;
    color: #fff;
}

.to-records-link {
    margin: 30px;
    text-align: center;
}

.to-feedback-link {
    margin: auto;
    text-align: center;
}

.link {
    color: #fff;
}
